/*首页：index.html*/
.staff-home .banner img{width: 100%;height: 3rem;display: block;}
.welfare-list{margin: 0.3rem 0;background-color: #fff;padding: 0 .36rem .18rem .36rem;}
.welfare-item{padding: 0.4rem 0;border-bottom: 1px solid #e1e1e1;}
.welfare-item:last-child{border-bottom: none;}
.welfare-item .title>h3{font-size: 0.24rem;color: #333;}
.welfare-item .title .tip{font-size: 0.24rem;color: #666666;}
.welfare-item>ul{display: table;width: 100%;margin-top: .2rem;}
.welfare-item>ul>li{display: table-cell;vertical-align: bottom;width: 33.33%;position: relative;}
.welfare-item>ul>li:nth-of-type(2){text-indent: .2rem;}
.welfare-item .profit{font-size: 0.36rem;color: #ff5500;}
.welfare-item .profit>span{font-size: 0.64rem;}
.welfare-item .term{font-size: 0.36rem;color: #333333;margin-bottom: .13rem;}
.welfare-item li h4{font-size: 0.24rem;color: #666666;line-height:.24rem;}
.welfare-item .btn-invest{position: absolute;bottom: 0.09rem;right: -0.08rem;width: 2.18rem;height: .96rem;}
.welfare-item .btn-invest>span{display: inline-block;font-size: .28rem;padding-top: .23rem;}

.footer-fixed{position: fixed;bottom: 0;left: 0;width: 100%;background-color:#fff;}
.footer-nav{width: 100%;border-top: 1px solid #e1e1e1;background-color: #fff;height: .88rem;}
.footer-nav li{float: left;width: 50%;text-align: center;padding-top: .1rem;}
.footer-nav li>a{display: block;background-position: center top;background-repeat: no-repeat;width: 100%;height: 100%;padding-top: .36rem;background-size: .36rem .36rem;color: #999999;}
.footer-nav li>a.welfare{background-image: url('/public/images/Reservation/home/icon_welfare_no.png');}
.footer-nav li>a.account{background-image: url('/public/images/Reservation/home/icon_account_no.png');}
.footer-nav li.cur>a{color: #fa2537;}
.footer-nav li.cur>a.welfare{background-image: url('/public/images/Reservation/home/icon_welfare_yes.png');}
.footer-nav li.cur>a.account{background-image: url('/public/images/Reservation/home/icon_account_yes.png');}

/*登录：login.html*/
.login-form{padding: .4rem .7rem;}
.login-form .ui-item{padding: .35rem 0;border-bottom: 1px solid #e1e1e1;}
.login-form .ui-item .rcon{width: 75%;}
.login-form .ui-item .ui-input{height: .4rem;line-height: .4rem;font-size: .32rem;color: #333333;width: 100%;}
.login-form .get-code{font-size: .24rem;color: #fa2537;}
.login-form .get-code.disabled{color: #999999;}
.login-form .code-tip{color: .24rem;color: #fa2537;margin-top: .3rem;}
.login-box .btn-box{margin-top: 1.8rem;}
.login-box .call{font-size: .24rem;color: #999999;margin-top: .5rem;padding: 0 .7rem;}

/*投资详情：invest_detail.html*/
.welfare-bg{display: block;width: 100%;height: 4rem;background:url('/public/images/Reservation/home/detail/welfare_bg.png') no-repeat center top;background-size: 100% 100%;position: relative;}
.invest-header{width: 100%;position: relative;}
.invest-header .dir-left{width: .48rem;height: .48rem;background: url(/public/images/Reservation/common/dir_left.png) no-repeat center;background-size: .17rem .33rem;position: absolute;top: .2rem;left: .1rem;}
.invest-header .title{color: #fff;font-size: .32rem;text-align: center;padding-top: .2rem;}
.invest-header .dir-right{width: .48rem;height: .48rem;position: absolute;top: .2rem;right: 0;}
.invest-rate{padding-top: .2rem;}
.invest-rate>li{text-align: center;color: #fff;}
.invest-rate>li:nth-of-type(1){height: 1rem;line-height: 1rem;}
.invest-rate>li:nth-of-type(1)>span{font-size: .9rem;}
.invest-rate>li:nth-of-type(1)>em{font-size: .3rem;}
.invest-rate>li:nth-of-type(2){font-size: .24rem;margin-top: 0.08rem;}
.invest-section{display: table;width: 85%;margin: 0 auto;height: 1.8rem;background-color: #fff;border-radius: .2rem;-webkit-border-radius: .2rem;position: absolute;left: 50%;bottom: -0.5rem;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.invest-section>ul{display: table-cell;vertical-align: middle;width: 50%;position: relative;}
.invest-section>ul>li{text-align: center;}
.invest-section>ul>li:nth-of-type(1){font-size: .32rem;color: #999999;}
.invest-section>ul>li:nth-of-type(2){font-size: .24rem;color: #333333;margin-top: .16rem;}
.invest-section>ul.border-left:before{content: '';display: block;width: 1px;height: .6rem;background-color: #e1e1e1;position: absolute;top: 50%;left: 0;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.invest-section .question{display: inline-block;width: .3rem;height: .3rem;vertical-align: middle;margin-left: .1rem;}
.invest-section .pic-box{display: inline-block;position: relative;}
.invest-section .tier-tip{position: absolute;bottom: .45rem;right: -0.4rem;width: 3.98rem;height: 1.83rem;background:url('/public/images/Reservation/home/detail/icon_tip.png') no-repeat center;background-size: 100% 100%;}
.invest-section .tip-info{padding: .2rem .1rem .2rem .2rem;}
.invest-section .tip-info>p{text-align: justify;font-size: .22rem;}
.invest-section .tip-info>p:nth-of-type(1){color: #666666;}
.invest-section .tip-info>p:nth-of-type(2){color: #333333;}
.invest-form{margin-top: .3rem;}
.invest-form>ul{background-color: #fff;}
.invest-form>ul>li{padding: .3rem .6rem;}
.invest-form>ul>li:nth-of-type(1){font-size:.24rem;color:#999;}
.invest-form>ul>li:nth-of-type(2){font-size: .32rem;color: #666666;}
.invest-form>ul>li:nth-of-type(2)>div{border-bottom: 1px solid #e1e1e1;padding-bottom:.12rem;position:relative;}
.invest-form .invest-money{position:absolute;width:.28rem;}
.invest-form>ul>li:nth-of-type(3){color:#666;font-size:.28rem}
.invest-form input{width: 94%;font-size: .36rem;color: #333333;padding-left:.52rem;}
.invest-form em{font-size: .28rem;color: #999999;}
.invest-detail-fixed{position: fixed;bottom: 0;left: 0;width: 100%;}
.invest-fixed-btn{padding: .35rem 0;background-color: #fff;}
/* 投资详情：invest_detail.html 0504更新样式 */
.invest-detail-wrap{width:100%;background-color:#fa4050;color:#fff;}
.invest-detail-wrap>li{width:50%;padding:.4rem 0 0 .5rem;}
.invest-detail-wrap>li>p:first-of-type{padding:.15rem 0 .15rem 0;line-height:normal;font-size:.72rem;}
.invest-detail-wrap>li>p:first-of-type>span:last-child{font-size: .3rem;}
.invest-detail-wrap h3{font-size:.24rem;}
.invest-detail-wrap>li>div:last-child{font-size:.28rem;padding-bottom: .4rem;}
.invest-detail-wrap .day{padding-right:.18rem;}
.invest-section-p{position:relative;}
.invest-section-p .question{display: inline-block;width: .3rem;height: .3rem;vertical-align: middle;margin: 0 .1rem 0 -.4rem;}
.invest-section-p .pic-box{display: inline-block;position: relative;}
.invest-section-p .tier-tip{position: absolute;bottom: .95rem;left: -3.7rem;width: 3.98rem;height: 1.83rem;background:url('/public/images/Reservation/home/detail/icon_tip.png') no-repeat center;background-size: 100% 100%;}
.invest-section-p .tip-info{padding: .2rem .1rem .2rem .2rem;}
.invest-section-p .tip-info>p{text-align: justify;font-size: .22rem;}
.invest-section-p .tip-info>p:nth-of-type(1){color: #666666;}
.invest-section-p .tip-info>p:nth-of-type(2){color: #333333;}
.pinan-buckle-new{padding: .3rem .5rem;margin-top: .5rem;color: #ff5500;}
.pinan-buckle-new>h3{font-size: .3rem;padding-bottom: .54rem;font-weight: 800;}
.pinan-buckle-new>h3>a{color:#0290e7;font-weight: 400;font-size:.24rem;text-decoration: underline;}
.pinan-buckle-new>p{font-size: .26rem;line-height: .4rem;text-align: justify;padding-bottom:.4rem;}

/*投资支付页：invest_payment.html*/
.invest-payment .deal-pay{background-color: #fff;padding: .52rem 0;}
.invest-payment .deal-pay>li{text-align: center;font-size: .24rem;color: #999999;}
.invest-payment .deal-pay>li:nth-of-type(1){font-size: .48rem;color: #fa2537;}
.pinan-buckle{background-color: #fff;padding: .35rem .8rem;margin-top: .3rem}
.pinan-buckle>h3{font-size: .28rem;color: #333333;padding-bottom: .35rem;}
.pinan-buckle>p{font-size: .24rem;color: #666666;line-height: .4rem;text-align: justify;}
.pinan-buckle .line{height: 1px;width: 100%;background-color: #e1e1e1;margin: .35rem 0;}
.invest-payment-fixed{position: fixed;bottom: 0;left: 0;width: 100%;}
.payment-fixed-btn{padding: .35rem 0;background-color: #fff;}
.payment-lay-box{background-color: #fff;position: relative;width: 80%;height: auto;border-radius: .2rem;-webkit-border-radius: .2rem;position: absolute;
	top:50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.payment-lay-box .content{padding: 1.2rem .4rem .5rem;}
.payment-lay-box .content>p{font-size: .28rem;color: #000000;line-height: .45rem;}
.payment-lay-box .btns{height: 1rem;border-top: 1px solid #e1e1e1;}
.payment-lay-box .btns>a{display: block;text-align: center;line-height: 1rem;font-size: .32rem;color: #fa2a3c;}
.payment-lay-box .icon-pay{background:url('/public/images/Reservation/home/detail/icon_pay.png') no-repeat center;background-size: 100% 100%;width: 1.9rem;height: 1.9rem;position: absolute;top: -0.9rem;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}

/*投资状态：invest_state_***.html*/
.invest-state-header{width: 100%;position: relative;background-color: #fff;}
.invest-state-header .title{color: #333333;font-size: .32rem;text-align: center;padding: .2rem 0;}
.invest-state-content .pic{display: block;width: 2.4rem;height: 2.4rem;max-width: 100%;margin: 1rem auto .74rem;}
.invest-state-content .money{text-align: center;font-size: .36rem;color: #fa2537;}
.invest-state-content .state{text-align: center;font-size: .32rem;color: #ff5500;margin-top: 0.08rem;}
.invest-state-btn{margin-top: .96rem;}
.invest-state-content .fail-info{padding-top: .48rem;}
.invest-state-content .fail-info>p{font-size: .24rem;color: #999999;margin-bottom: .2rem;padding-left: 2.42rem;}
.invest-state-content .wait-info{padding:.5rem .8rem 0;}
.invest-state-content .wait-info>p{font-size: .24rem;color: #ff5500;text-align: justify;line-height: .5rem;}

/*开户认证：open_account.html*/
.open-account-form h4{height: auto;padding: .2rem 0;}
.open-account-form h4::after, .open-account-form h4>span{display:inline-block;vertical-align:middle;}
.open-account-form h4>span{padding: 0 .7rem;text-align: justify;font-size: .24rem;color: #ff5500;}
.open-account-form h4::after{content:'';height:100%;}
.open-account-form .form-box{padding: 0 .7rem .5rem;background-color: #fff;}
.open-account-form .ui-item{padding: .25rem 0;border-bottom: 1px solid #e1e1e1;}
.open-account-form .ui-item .rcon{width: 50%;margin-left: .2rem;}
.open-account-form .ui-item .ui-input{width: 100%;}
.open-account-form .get-code{position: absolute;top: .28rem;right: 0;font-size: .24rem;color: #fa2537;}
.open-account-form .get-code.disabled{color: #999999;}
.open-account .argee-box{margin-top: .4rem;}
.open-account .argee-box>img{display: block;width: .32rem;height: .32rem;margin-left: .3rem;margin-right: .2rem;}
.open-account .argee-box>span{font-size: .24rem;color: #333333;}
.open-account .argee-box>a{font-size: .24rem;color: #0290e7;}
.open-account .btn-box{margin-top: 1rem;}
.open-account .result-info>img{display: block;width: 2.35rem;height: 2.62rem;margin: 1.04rem auto 0;}
.open-account .result-info .text{font-size: .28rem;color: #ff5500;text-align: center;margin-top: .54rem;}
.bank-grant .bank-tip{font-size: .22rem;color: #ff5500;padding: 0 .7rem;text-align: justify;margin: .6rem 0;}
.grant-lay-box{background-color: #fff;position: relative;width: 80%;height: auto;border-radius: .2rem;-webkit-border-radius: .2rem;position: absolute;
	top:50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.grant-lay-box .content{padding: 1.2rem .4rem .5rem;}
.grant-lay-box .content>p{font-size: .28rem;color: #000000;line-height: .45rem;}
.grant-lay-box .btns{height: 1rem;border-top: 1px solid #e1e1e1;}
.grant-lay-box .btns>a{display: block;text-align: center;line-height: 1rem;font-size: .32rem;color: #fa2a3c;}
.grant-lay-box .icon-pay{background:url('/public/images/Reservation/open/open_grant.png') no-repeat center;background-size: 100% 100%;width: 1.9rem;height: 1.9rem;position: absolute;top: -0.9rem;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.bank-grant .grant-info .pic{display: block;width: 2.26rem;height: 2.41rem;margin: 1.44rem auto 0;}
.bank-grant .grant-info .result{font-size: .32rem;color: #333333;text-align: center;margin-top: .6rem;}
.bank-grant .btn-box{margin-top: .9rem;}
.bank-grant .fail-reason{padding-left: 1.57rem;margin-top: .7rem;}
.bank-grant .fail-reason>p{font-size: .24rem;color: #999999;line-height: .5rem;}
.bank-grant .wait-reason{margin-top: .7rem;padding: 0 1rem;}
.bank-grant .wait-reason>p{font-size: .24rem;color: #999999;line-height: .5rem;text-align: justify;}
.to-support-bank{color:#44a5ec;}
.open-account-text{padding: .3rem .72rem 0 .82rem;line-height:.42rem;text-align: justify;font-size: .22rem;color: #666;}


/*我的账户：account/index.html*/
.my-account.page-main{padding-bottom:0.98rem;}
.my-account .account-head{background-color: #fa3949;padding: .3rem 0;position:relative;}
.account-head .account-name{margin-left: .5rem;}
.account-head .account-name>img{display: block;width: .36rem;height: .36rem;border-radius: 50%;-webkit-border-radius: 50%;}
.account-head .account-name>span{font-size: .24rem;color: #fff;padding:0 .12rem;}
.account-head .invest-title{display: block;text-align: center;margin-top: .45rem;}
.account-head .invest-title>label{font-size: .24rem;color: #f9a9b1;padding-right: .1rem;}
.account-head .invest-title>img{display: inline-block;width: .1rem;height: .16rem;}
.account-head .invest-title>img:last-child,.payment-box .pic-quesion{display: inline-block;width: .28rem;height: .28rem;margin-left:.2rem;vertical-align: middle;}
.account-head .invest-money{font-size: .5rem;color: #fff;text-align: center;margin-top: .18rem;}
.payment-box{background-color: #fff;padding: .39rem 0 .29rem 0;}
.payment-box>li{text-align: center;position:relative;}
.payment-box>li label{font-size: .24rem;color: #999;padding-right: .1rem;}
.payment-box>li:nth-of-type(2){border-left: 1px solid #f0f0f0;}
.payment-box .pic{display: inline-block;width: .1rem;height: .16rem;}
.payment-box .money{color: #333;font-size: .32rem;padding-top:.1rem;}
.my-account .account-list{margin-top:.2rem;}
.my-account .account-list ul{background-color: #ffffff;margin-bottom: .04rem;padding: 0 .42rem 0 .5rem;}
.my-account .account-list ul>li{height: 1.2rem;display: -webkit-box;display: flex;display: -webkit-flex;-webkit-align-items:center;}
.my-account .account-list ul>li:first-of-type{-webkit-box-flex: 2;-webkit-flex: 2;-ms-flex: 2;flex: 2;}
.my-account .account-list ul>li:nth-of-type(2){justify-content: flex-end;-webkit-justify-content: flex-end;}
.my-account .account-list .title{font-size: .3rem;color: #333333;padding-left: .35rem;}
.my-account .account-list .tip{font-size: .3rem;color: #999999;padding-right: .14rem;}
.my-account .icons{display: block;width: .42rem;height: .4rem;background-image: url('/public/images/Reservation/account/icon_account.png');background-position: center;background-repeat: no-repeat;background-size: .42rem 3.1rem;}
.my-account .icons.icon-invest{background-position: 0 -.6rem;}
.my-account .icons.icon-bank{background-position: 0 2px;}
.my-account .icons.icon-help{background-position: 0 -1.3rem;height:.42rem;}
.my-account .icons.icon-edit{height:.42rem;background-position: 0 -1.99rem;}
.my-account .icons.icon-about{background-position: 0 -2.75rem;}
.my-account .next{display: inline-block;width: .1rem;height: .2rem;}
.my-account .btn-box{margin-top: 2rem;}
.account-lastp{font-size:.24rem;color:#ccc;text-align:center;padding-top:1.26rem;}
/* 0509 弹框 */
.my-account .tier-tip{display:none;position: absolute;bottom: 1.7rem;left:0;right:0;margin:0 auto;width: 3.98rem;background-color:#fff;border:1px solid #ff5500;-webkit-border-radius:5px;border-radius: 5px;} 
.my-account .tier-tip:after{display:block;content:"";position:absolute;bottom:-5px;left:2.5rem;width: 8px;height: 8px;border-top: 1px solid #ff5500;border-right: 1px solid #ff5500;transform: rotate(135deg);-webkit-transform: rotate(135deg);background:#fff;}
.my-account .tip-info{padding: .12rem .1rem .12rem .1rem;}
.my-account .tip-info>p{text-align: justify;font-size: .22rem;color: #333333;}
.my-account .tier-tip2{left:.1rem;bottom:1.1rem;}
.my-account .tier-tip2:after{left:2.4rem;}
.my-account .tier-tip3:after{left:auto;right:.85rem;}
.my-account .tier-tip3{left:auto;right:.1rem;bottom:1.1rem;}
@media screen and (min-width: 500px) {
	.my-account .tier-tip2:after{left:2.6rem;}
	.my-account .tier-tip3:after{right:1.48rem;}
}

/*投资/回款记录：invest/payment_record.html*/
.account-record-list>h4{background-color: #f5f5f5;padding: .25rem .54rem;}
.account-record-list>h4::after, .account-record-list h4>span{display:inline-block;vertical-align:middle;}
.account-record-list>h4>span{font-size: .28rem;color: #666666;}
.account-record-list>h4::after{content:'';height:100%;}
.account-record-item>a{margin-top: 2px;}
.account-record-item>a:first-child{margin-top: 0;}
.account-record-item ul{padding: .30rem .45rem .30rem .54rem;background-color: #ffffff;}
.account-record-item h5{font-size: .32rem;color: #333333;}
.account-record-item .money{font-size: .32rem;color: #fa3949;text-align: right;}
.account-record-item .date{font-size: .24rem;color: #999999;padding-top: .1rem;}
.account-record-item .state{font-size: .24rem;color: #999999;padding-top: .1rem;text-align: right;}
.payment-menu{background-color:#fff;font-size:.28rem;color:#999;text-align:center;line-height: .9rem;}
.payment-menu .active{color:#fa3949;border-bottom:.04rem solid #fa3949;}

/* 交易记录添加样式 */
.account-record-list>h4>span.yname{color:#333;}
.account-record-list>h4>span.yname+span{padding-right:.1rem;}

/*注册协议：reg_protocl.html*/
.reg-protocol .content{padding:.3rem;}
.reg-protocol .content>p{margin-bottom: .2rem;}
.reg-protocol .content>p>span{font-size: .24rem;color: #666666;text-align: justify;display: block;}
.reg-protocol .content h3{text-align: center;font-size: .28rem;padding-top: .2rem;padding-bottom: .4rem;}
.reg-protocol .content strong{color: #333333;}

/*帮助中心 help_center.html*/
.help-center .content{border-top:.1rem solid #f5f5f5;padding-bottom: .22rem;}
.help-center .content h3{font-size:.28rem;padding:.36rem .34rem;align-items: center;}
.help-center .flexbox span{width:95%;}
.help-center li{border-bottom:.04rem solid #f5f5f5;}
.help-center li:last-child{border:none;}
.help-center .flexbox+div{display:none;color:#999;}
.help-center p{padding:0 .34rem .36rem .34rem;font-size:.24rem;}
.help-accrow-r{display:inline-block;width:.1rem;height:.2rem;background:url(/public/images/Reservation/account/arrow-r.png)center center no-repeat;background-size:100%;}
.help-accrow-d{width:.2rem;height:.1rem;background-image: url(/public/images/Reservation/account/arrow-d.png);}

/* 支持银行及限额 support_bank.html */
.support_bank li{font-size:.28rem;color:#333;padding:.36rem .6rem .36rem .5rem;border-bottom:1px solid #e1e1e1;}
.support_bank li:first-child{background-color:#f5f5f5;padding:.26rem .6rem .26rem .5rem;}
.support_bank li:last-child{border-bottom:none;}
.support_bank li span:first-child{width:40%;}
.support_bank li span:nth-child(2){width:33.3%;}
.support_bank span:last-child{color:#666;}

/*投资详情：income_detail.html*/
.income-header{
	background:#fa3949;
	padding-bottom: .2rem;
}
.income-wrap{
	background-color:#fff;
	color:#333;
	margin-bottom: .2rem;
}
.income-title{
	color:#333;
	font-size: .32rem;
	padding:.4rem .5rem;
	border-bottom:1px solid #f5f5f5;
	margin-bottom: .3rem;
}
.income-num{color:#999;padding-left:2px;}
.income-mes{padding-bottom:.3rem;}
.income-mes>li{
	padding-left:.5rem;
	color:#999;
	font-size:.28rem;
	padding:.3rem .6rem .3rem .5rem;
}
.income-mes span:last-child{
	float:right;
	color:#333;
}
.icon-question{
	display: inline-block;
	width:.28rem;
	height:.28rem;
	margin-left:.26rem;
	vertical-align: -.04rem;
	background:url(/public/images/Reservation/common/icon_question.png)center center no-repeat;
	background-size:100%;
	position:relative;
}
.income-detail .tier-tip{position: absolute;bottom: .45rem;left:-1.3rem;width: 3.98rem;background-color:#fff;border:1px solid orange;-webkit-border-radius:5px;border-radius: 5px;} 
.income-detail .tier-tip:after{display:block;content:"";position:absolute;bottom:-5px;left:1.33rem;width: 8px;height: 8px;border-top: 1px solid orange;border-right: 1px solid orange;transform: rotate(135deg);-webkit-transform: rotate(135deg);background:#fff;}
.income-detail .tip-info{padding: .2rem .1rem .2rem .2rem;}
.income-detail .tip-info>p{text-align: justify;font-size: .22rem;}
.income-detail .tip-info>p:nth-of-type(1){color: #666666;}
.income-detail .tip-info>p:nth-of-type(2){color: #333333;}


.income-date .title,.income-money li{padding:.44rem .6rem .44rem .5rem;color:#999;font-size:.24rem;background-color:#fff;}
.income-date span:last-child{float:right;}
.income-money{padding-bottom:.2rem;}
.income-money li{color:#333;font-size:.28rem;border-top:1px solid #f5f5f5;}
/*默认待回款样式*/
.back-money{color:#fff;background-color:#c6c6c6;border-radius: .5rem;-webkit-border-radius: .5rem;-ms-border-radius: .5rem;-o-border-radius: .5rem;-moz-border-radius: .5rem;padding:4px 8px;margin-left:.16rem;}
/*已回款*/
.back-money-active{background-color:#fa3949;}
.back-money-active+span{color:#fa3949;}
.income-detail .flexbox{background-color:#fff;font-size:.28rem;padding:.42rem .6rem .42rem .5rem;}
.income-detail .next{width:.1rem;height:.2rem;}

/*关于员工宝*/
.about-img{width:2.1rem;height:2.3rem;background:url(/public/images/Reservation/account/logo.png)0 0 no-repeat;margin:1.3rem auto 1.1rem auto;background-size:100%;} 
.about-content p{font-size:.28rem;color:#666;padding:0 .66rem 1.66rem .66rem;line-height: .58rem}
.about-footer{position: fixed;text-align:center;bottom:.54rem;left:0;right:0;margin:0 auto;color:#999;font-size:.24rem;}
.about-footer i{width:.34rem;height:.28rem;vertical-align: -0.045rem;margin-right:.12rem;display:inline-block;background: url(/public/images/Reservation/account/man.png)center center no-repeat;background-size:100%;}

/* 操作指南 */
.guide-img{width:7.5rem;height:62.05rem;margin:0 auto;background:url(/public/images/Reservation/home/guide.png)0 0 no-repeat;background-size:100%;}

/* 20180601 安盈尊享计划详情 plan_detail.html*/
.plan-detail-content{padding-bottom:1.86rem;}
.plan-detail-content>ul{background-color:#fff;margin:.2rem 0;padding:.3rem .25rem;font-size:.24rem;color:#333;}
.plan-detail-content li{line-height: .8rem;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-flow: row wrap;-ms-flex-flow: row wrap;flex-flow: row wrap;margin-bottom:.06rem;}
.plan-detail-content li>span:first-child{background-color: #eaeaea;width:1.8rem;text-align:center;}
.plan-detail .expected{line-height: normal;padding-top:.45rem;}
.plan-detail-content li>span:last-child{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding-left:.2rem;}
.plan-detail-content .mes1{background-color: #fef8f8;}
.plan-detail-content .mes1 span:first-child{display:inline-block;width:2rem;padding-left:.2rem;border-right:1px solid #efe6e6;line-height:normal;}
.plan-detail-content .mes1 span:last-child{padding-left:.4rem;color:#fb2f40;}
.plan-detail-content .mes1>p{border-bottom:1px solid #efe6e6;height:.8rem;height: 0.6rem;line-height: .6rem;}
.plan-detail-content .mes1>p:last-of-type{border:none;}
.plan-detail-content .mes2{background:#f8f8f8;}
.plan-process{background-color:#fff;padding:.3rem .4rem .64rem;text-align: justify;font-size:.28rem;}
.plan-process h3{color: #fb2f40;padding-bottom:.05rem;}
.plan-process h3:nth-of-type(2){font-size:.24rem;padding-top:.05rem;}
.plan-process p{color:#333;font-size:.24rem;line-height: .42rem;}
.plan-process p:last-of-type{line-height: normal;}
.plan-process i{display:inline-block;margin-right:.04rem;width:.16rem;height:.16rem;background:url(/public/images/Reservation/plan/title.png) 0 0 no-repeat;background-size:100%;}
.plan-detail .footer-fixed,.subscription-man .footer-fixed,.reservation-complete .footer-fixed{display:block;height:.98rem;line-height:.98rem;background-color: #fb2f40;color:#fff;font-size:.32rem;text-align:center;-webkit-border-radius: 0;-ms-border-radius: 0;-o-border-radius:0;-moz-border-radius: 0; border-radius: 0;left:0;right:0;margin:0 auto;max-width:500px;}
.plan-detail .uibtn-gray,.subscription-man .uibtn-gray,.reservation-complete .uibtn-gray{background-color:#ccc;}
/* 首页新增样式 */
.home-plan{line-height: .95rem;color:#333;font-size:.28rem;margin:-.4rem 0 .22rem 0;}
.welfare-list{overflow:hidden;}
.home-plan:after{content:'';display:block;width:7.5rem;height:1px;background:#f0f0f0;margin-left:-.4rem;}
@media screen and (min-width: 500px){.home-plan:after{width:10rem;}}
.home-plan i{display:inline-block;width:.44rem;height:.44rem;background:url(/public/images/Reservation/plan/plan.png) center center no-repeat;background-size:100%;vertical-align: middle;margin-right:.06rem;}
.home-plan a{float:right;font-size:.24rem;color: #fd7209;}
/* 预约信息 */
.subscription-man-content{background:#fff;margin:.2rem 0;}
.subscription-input{margin:0 .55rem .2rem .55rem;font-size:.3rem;color:#333;line-height:.98rem;padding-bottom:.6rem;padding-top:.6rem;}
.subscription-input div{background:#f5f5f5;height:.98rem;margin-bottom:.38rem;-webkit-border-radius: 7px;-ms-border-radius: 7px;-o-border-radius: 7px;-moz-border-radius: 7px; border-radius: 7px;}
.subscription-input li:last-of-type>div{margin:0;}
.subscription-input label{display:inline-block;width:1.7rem;padding-left:.3rem;line-height: normal;border-right:1px solid #999;}
.subscription-input input{padding-left:.3rem;color:#999;background:green;}
.subscription-input .phone{position:relative;}
.subscription-input .phone i{display:block;position:absolute;width:.36rem;height:.36rem;background:url(/public/images/Reservation/plan/edit.png) 0 0 no-repeat;background-size:100%;top:.3rem;right:.48rem;}
.subscription-man .plan-process{padding:.48rem .52rem .64rem;}
.subscription-input .choose{width:100%;font-size:.24rem;line-height: .98rem;}
.subscription-input .choose>div{display: inline-block;padding-left:.3rem;}
.subscription-input .choose>div:first-child{width:2rem;}
.subscription-input .radio{position:relative;display: inline-block;margin-right:.1rem;width:.3rem;height:.3rem;border:1px solid #6a6a6a;border-radius: 50%;vertical-align: -.44rem;}
.subscription-input .choose>.active .radio:after{content:'';display:block;position:absolute;top:.01rem;left:.02rem;width:.22rem;height:.22rem;background:url(/public/images/Reservation/plan/gou.png) 0 0 no-repeat;background-size:100%;}
.subscription-input .choose>.active .radio{border-color:#0aa214;}
.subscription-input .reservation-input{width:1.2rem;display:none;}
@media screen and (max-width: 340px){
	.subscription-input .reservation-input{font-size:.24rem;}
}
.subscription-input .reservation-input+span{display:none;}
/* 预约完成 reservation_complete.html*/
.reservation-complete .content{margin-top:1.9rem;text-align:center;}
.reservation-complete img{display:block;width:1.72rem;margin:0 auto;}
.reservation-complete p:first-of-type{color: #fb2f40;font-size:.28rem;padding:.34rem 0 .22rem 0;}
.reservation-complete p:last-of-type{color: #666;font-size:.24rem;padding:0 .7rem;text-align:justify;line-height: .48rem;}
/* 推荐有奖 recommended_prize.html */
.recommended-prize .plan-title{text-align: center;margin:0 auto;position:relative;margin-top:.22rem;padding-bottom:.16rem;}
.recommended-prize .plan-title p{font-size:.32rem;color: #fb2f40;font-weight:800;}
.recommended-prize .line:last-of-type i{display:block;width:.16rem;height:.16rem;background:url(/public/images/Reservation/plan/title.png) 0 0 no-repeat;background-size:100%;position:absolute;top:-.08rem;left:-.14rem;}
.recommended-prize .mes h3{width: 1.8rem;color: #fb2f40;font-weight:800;font-size:.28rem;margin:.34rem 0 .28rem  0;}
.recommended-prize .mes i{display:inline-block;width:.16rem;height:.16rem;background:url(/public/images/Reservation/plan/tab.png) 0 0 no-repeat;background-size:100%;margin-right:.1rem;vertical-align: middle;}
.recommended-prize .mes{padding:0 .34rem;font-size:.24rem;color:#333;}
.recommended-prize .mes p{line-height: .48rem;}
.recommended-prize .mes span{font-weight: 800;}