<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script type="text/javascript" src="../../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <title>详情</title>
    <script type="text/javascript">
        (function (doc, win) { var docEl = doc.documentElement, resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) return; if (clientWidth >= 750) { docEl.style.fontSize = '50px'; } else { docEl.style.fontSize = 100 * (clientWidth / 750) + 'px'; } }; if (!doc.addEventListener) return; win.addEventListener(resizeEvt, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);
    </script>
</head>

<body>
    <div class="container">
        <div class="plan-detail">
            <header class="ui-header">
                <div class="dir-left"></div>
                <h3 class="title">详情</h3>
            </header>
            <div class="plan-detail-content">
                <ul>
                    <li>
                        <span>项目名称</span>
                        <span class="mes1">安盈尊享计划（安盈二号）</span>
                    </li>
                    <li>
                        <span>起始金额</span>
                        <span class="mes2">20万起，以5万整数递增</span>
                    </li>
                    <li class="align-center">
                        <span class="expected">预期收益<br/>（年化）</span>
                        <div class="mes1 flexbox-flex">
                            <p><span>20-99 万</span><span>9%</span></p>
                            <p><span>100-299 万</span><span>9.5%</span></p>
                            <p><span>大于 300 万</span><span>10%</span></p>
                        </div>
                        
                    </li>
                    <li>
                        <span>项目期限</span>
                        <span class="mes2">不高于12个月</span>
                    </li>
                    <li>
                        <span>认购方式</span>
                        <span class="mes1">只接受预约，专人vip服务</span>
                    </li>
                    <li>
                        <span>资金投向</span>
                        <span class="mes2">合富金融资产</span>
                    </li>
                </ul>

                <!-- 认购流程 -->
                <div class="plan-process">
                    <h3><i></i>认购流程</h3>
                    <p>1. 选择“我要预约”。</p> 
                    <p>2. 填写预约信息。</p>
                    <p>3. 预约完成，24小时内会有合富金融客户经理与您联系签约事项。</p>    
                    <h3>注意:</h3>
                    <p>鉴于签约要求，安盈尊享计划只接受在广州合富金融总部签约。如有疑问，请咨询客服热线：4008833733（工作时间内）</p>
                </div>
            </div>
            <a class="footer-fixed" href="subscription_man.html">我要预约</a>
        </div>

    </div>
</body>

</html>