<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script type="text/javascript" src="../../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <title>推荐有奖</title>
    <script type="text/javascript">
        (function (doc, win) { var docEl = doc.documentElement, resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) return; if (clientWidth >= 750) { docEl.style.fontSize = '50px'; } else { docEl.style.fontSize = 100 * (clientWidth / 750) + 'px'; } }; if (!doc.addEventListener) return; win.addEventListener(resizeEvt, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);
    </script>
</head>

<body style="background:#fff;">
    <div class="container page-main">
        <div class="recommended-prize">
            <header class="ui-header">
                <div class="dir-left"></div>
                <h3 class="title">推荐有奖</h3>
            </header>
            <div class="content">
                <div class="plan-title">
                    <div class="line">
                        <i></i>
                    </div>
                    <div>
                        <p>安盈尊享计划</p>
                        <p>奖励办法和认购方式</p>
                    </div>
                    <div class="line">
                        <i></i>
                    </div>
                </div>

                <ul class="mes">
                    <li>
                        <h3>
                            <i></i>认购方式</h3>
                        <p>1.登录员工宝，选择“安盈尊享计划”，点击“我要预约”。</p>
                        <p>2.填写预约信息，包括认购人(默认本人)、联系电话、预约金额。</p>
                        <p>3.合富金融在24小时内联系认购人，专人讲解产品和认购流程。</p>
                        <p>4.与认购人预约签约后，认购人转账。</p>
                        <p>5.认购完成。</p>
                    </li>
                    <li>
                        <h3>
                            <i></i>推荐认购</h3>
                        <p><span>适用对象：有员工宝账户的员工的亲属和朋友</span></p>
                        <p>1、推荐人登录员工宝，选择“安盈尊享计划”，点击“我要预约”。</p>
                        <p>2、选择“推荐认购”，填写推荐人（默认是您）、您的联系电话。</p>
                        <p>3、合富金融在24小时内联系您，专人讲解奖励方式和推荐流程。</p>
                        <p>4、与认购人预约签约后，认购人转账。</p>
                        <p>5.认购完成。</p>
                    </li>
                    <li>
                        <h3>
                            <i></i>推荐有奖</h3>
                        <p>1.在2018年6月30日前，推荐亲属和朋友认购“安盈尊享计划”，可获认购金额的<span>0.6%</span>现金奖励。</p>
                        <p>2.如果是本人认购，该推荐奖励归本人所有。</p>
                    </li>
                    <li>
                        <h3>
                            <i></i>注意事项</h3>
                        <p>1.鉴于签约要求，安盈尊享计划只接受在广州合富金融总部签约。</p>
                        <p>2.由于规模有限，该计划会在募集完成条件达到后，提前停止预约，恕不另行通知。</p>
                        <p>3.如需更详尽资料，请联系您的合富金融理财经理或致电4008833733咨询。</p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</body>

</html>