<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script type="text/javascript" src="../../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <title>预约信息</title>
    <script type="text/javascript">
        (function (doc, win) { var docEl = doc.documentElement, resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () { var clientWidth = docEl.clientWidth; if (!clientWidth) return; if (clientWidth >= 750) { docEl.style.fontSize = '50px'; } else { docEl.style.fontSize = 100 * (clientWidth / 750) + 'px'; } }; if (!doc.addEventListener) return; win.addEventListener(resizeEvt, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);
    </script>
</head>

<body>
    <div class="container">
        <div class="subscription-man">
            <header class="ui-header">
                <div class="dir-left"></div>
                <h3 class="title">预约信息</h3>
            </header>
            <div class="subscription-man-content">
                <ul class="flexbox">
                    <li>
                        <a href="subscription_man.html">本人认购</a>
                    </li>
                    <li class="active">
                        <a href="subscription_recommend.html">推荐认购</a>
                    </li>
                </ul>

                <ul class="subscription-input">
                    <li>
                        <div>
                            <label>推荐人</label>
                            <input type="text" placeholder="请输入推荐人">
                        </div>
                    </li>
                    <li>
                        <div class="phone">
                            <label>联系电话</label>
                            <input type="text" placeholder="请输入联系电话" name="mobile" maxlength="11">
                            <i></i>
                        </div>
                    </li>
                </ul>

            </div>

             <!-- 认购流程 -->
             <div class="plan-process">
                <h3><i></i>预约说明</h3>
                <p>填写完成后，24小时内会有合富金融客户经理与您联系，请注意接听。</p>
            </div>
            <input type="button" class="footer-fixed uibtn-gray" value="预约完成" id="submit-sure" disabled>
        </div>

    </div>

    <script>
        $("#submit-sure").on("click",function(){
            var mobile = $('input[name=mobile]').val();
		    if(!(/^1\d{10}$/.test(mobile))){
                layer.msg('请输入正确的手机号码！')
                return false;
		    }
            window.location.href="reservation_cmoplete.html";
        });
        $('input[type=text]').on('keyup',function(){
		var _obj = $(this),inputTexts = $('input[type=text]'),flag = false;
		if (_obj.val()) {
			for (var i = 0; i < inputTexts.length; i++) {
				if ($(inputTexts[i]).val().trim()) {
					flag = true;
					continue;
				}else{
					flag = false;
					break;
				}
			}
			if (flag) {
				$('#submit-sure').removeClass("uibtn-gray").addClass('uibtn-pink').removeAttr('disabled');
			}
		} else {
			$('#submit-sure').removeClass("uibtn-pink").addClass('uibtn-gray').attr('disabled',true);
		}
	});
    </script>
</body>

</html>