<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<link rel="stylesheet" type="text/css" href="../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	<script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<title>首页</title>
	<script type="text/javascript">
		(function (doc, win) {var docEl = doc.documentElement,resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',recalc = function () {var clientWidth = docEl.clientWidth;if (!clientWidth) return;if(clientWidth>=750){docEl.style.fontSize = '50px';}else{docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';}};if (!doc.addEventListener) return;win.addEventListener(resizeEvt, recalc, false);doc.addEventListener('DOMContentLoaded', recalc, false);})(document, window);
	</script>
</head>
<body>
	<div class="container">
		<div class="page-main staff-home">
			<header class="banner">
				<a href="guide.html" class="block"><img src="../images/home/banner.png"></a>
			</header>
			<div class="welfare-list">
				<!-- 安盈尊享计划开始 -->
				<div class="welfare-item">
					<div class="home-plan"><i></i><span>安盈尊享计划</span><a href="./plan/recommended_prize.html">推荐有奖</a></div>
					<div class="title flexbox pack-justify">
						<h3>本期开放截止时间:6月15号</h3>
					</div>
					<ul>
						<li>
							<p class="profit"><span>9</span>%<span>&#45;</span><span>10</span>%</p>
							<h4>预期年化收益率</h4>
						</li>
						<li>
							<p class="term">12个月</p>
							<h4>项目期限</h4>
						</li>
						<li>
							<a href="./plan/paln_detail.html" class="abtn abtn-pink btn-invest"><span>我要预约</span></a>
						</li>
					</ul>
				</div>
				<!-- 安盈尊享计划结束 -->
				<div class="welfare-item">
					<div class="title flexbox pack-justify">
						<h3>福利宝5号00025</h3><p class="tip">起投10000元</p>
					</div>
					<ul>
						<li>
							<p class="profit"><span>9.5</span>%</p>
							<h4>年化收益率</h4>
						</li>
						<li>
							<p class="term">12个月</p>
							<h4>项目期限</h4>
						</li>
						<li>
							<a href="invest_detail.html" class="abtn abtn-pink btn-invest"><span>立即出借</span></a>
							<!-- <input type="button" value="立即出借" class="ui-btn uibtn-pink btn-invest" /> -->
						</li>
					</ul>
				</div>
				<div class="welfare-item">
					<div class="title flexbox pack-justify">
						<h3>福利宝5号00025</h3><p class="tip">起投10000元</p>
					</div>
					<ul>
						<li>
							<p class="profit"><span>9.5</span>%</p>
							<h4>年化收益率</h4>
						</li>
						<li>
							<p class="term">12个月</p>
							<h4>项目期限</h4>
						</li>
						<li>
							<a href="invest_detail.html" class="abtn abtn-pink btn-invest"><span>立即出借</span></a>
						</li>
					</ul>
				</div>
				<div class="welfare-item">
					<div class="title flexbox pack-justify">
						<h3>福利宝5号00025</h3><p class="tip">起投10000元</p>
					</div>
					<ul>
						<li>
							<p class="profit"><span>9.5</span>%</p>
							<h4>年化收益率</h4>
						</li>
						<li>
							<p class="term">12个月</p>
							<h4>项目期限</h4>
						</li>
						<li>
							<a href="javascript:void(0)" class="abtn abtn-gray btn-invest"><span>已完成</span></a>
						</li>
					</ul>
				</div>
				<div class="welfare-item">
					<div class="title flexbox pack-justify">
						<h3>福利宝5号00025</h3><p class="tip">起投10000元</p>
					</div>
					<ul>
						<li>
							<p class="profit"><span>9.5</span>%</p>
							<h4>年化收益率</h4>
						</li>
						<li>
							<p class="term">12个月</p>
							<h4>项目期限</h4>
						</li>
						<li>
							<a href="javascript:void(0)" class="abtn abtn-gray btn-invest"><span>已完成</span></a>
						</li>
					</ul>
				</div>
			</div>
			<footer class="footer-fixed">
				<ul class="footer-nav cl">
					<li class="cur">
						<a href="home.html" class="welfare">福利</a>
					</li>
					<li>
						<a href="account/index.html" class="account">账户</a>
					</li>
				</ul>
			</footer>
		</div>
	</div>
</body>
</html>